<!-- partial:partials/_navbar.html -->
<body class="sidebar-dark">
  <div class="container-scroller">
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="index.html"><img src="../../../../assets/images/logo.svg" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../../../assets/images/logo-mini.svg" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="fa fa-bars" aria-hidden="true"></span>
      </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="../../../../assets/images/profile.png" alt="profile"/>
            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" (click)="navigateTo('view-profile')">
              <i class="fa fa-user text-primary"></i>
              View Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="navigateTo('edit-profile')">
              <i class="fa fa-edit text-primary"></i>
              Edit Profile
            </a>
          </div>
        </li>
        <li class="nav-item nav-settings d-none d-lg-block">
          <a class="nav-link" (click)="logout()">
            <span>Log Out</span>
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="fa fa-bars"></span>
      </button>
    </div>
  </nav>

  <!-- partial -->
  <!-- <div class="container-fluid page-body-wrapper"> -->
      
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateTo('/')">
            <i class="fa fa-tachometer menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('add-open-house')"
          >
            <i class="fa fa-home menu-icon"></i>
            <span class="menu-title">Add an Open House</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          (click)="navigateTo('view-list')">
            <i class="fa fa-list-ul menu-icon"></i>
            <span class="menu-title">View Listing</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          (click)="navigateTo('active')">
            <i class="fa fa-bell menu-icon"></i>
            <span class="menu-title">Active</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('active')">
            <i class="fa fa-certificate menu-icon"></i>
            <span class="menu-title">Accepted Offer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('active')">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Sold/Archived</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
            <i class="fa fa-cog menu-icon"></i>
            <span class="menu-title">Settings</span>
            <span class="menu-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
          <div class="collapse" id="settings">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link"
                (click)="navigateTo('setting/manage-question')">
                Manage Questions </a></li>
              <li class="nav-item"> <a class="nav-link" 
              (click)="navigateTo('setting/email_settings')">
              Email Settings </a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <script src="./assets/js/template.js"></script> 
    <!-- partial -->
    </div>
  </body>