<div class="container-fluid page-body-wrapper">
    <app-header></app-header>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row grid-margin">
            <div class="col-lg-12">

              <div class="card rounded mb-4" *ngFor="let house of houseList">
                <div class="card-body p-3">
                  <a (click)="houseDetails()" class="list_card_a">
                   <div class="row">
                     <div class="col-md-2 col-lg-2">
                        <img class="view_listing_img mb-2" src="../../../../assets/images/house.png"/>
                     </div>
                     <div class="col-md-9 col-lg-9">
                       <div class="media pt-2">
                        <div class="media-body">
                          <h6 class="mb-1">{{house.title}}</h6>
                          <p class="mb-0 text-muted">{{house.description}}</p>
                        </div>                              
                      </div> 
                     </div>
                     <div class="col-md-1 col-lg-1 col-2">
                        <i class="fa fa-angle-right icon-md align-self-center mt-4 mr-2 pull-right"></i>
                     </div>
                   </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="justify-content-center justify-content-sm-between">
            <span class="text-center">Copyright © 2020 <a href="#" target="_blank">Amelio</a>. All Rights Reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
     </div>

  

