<div class="container-fluid page-body-wrapper">
      
      <app-header></app-header>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
             <a href="#" class="card-title-link"> 
                <div class="row">
                  <div class="col-md-1 col-lg-1 col-1">
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <div class="col-md-10 col-lg-10 col-10">
                    <h4 class="card-title">Equitable Property Group (Open House 1)</h4>
                  </div>
                </div>
             </a>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let lead of leadList">
                            <td>{{lead.firstName}} {{lead.lastName}}</td>
                            <td>{{lead.email}}</td>
                            <td>{{lead.phoneNumber}}</td>
                            <td>{{lead.address}}</td>
                            <td>
                              <div *ngIf="lead.status === 'Active'" class="dropdown">
                                <button class="btn bg-gradient-info dropdown-toggle" type="button" id="dropdownMenuSizeButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{lead.status}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                                  <a class="dropdown-item" >Active</a>
                                  <a class="dropdown-item" 
                                  (click)="updateStatus('Accepted',lead._id)" 
                                  onclick="showSwal('warning-message-and-cancel')"
                                  >Accepted Offer</a>
                                  <a class="dropdown-item" (click)="updateStatus('Sold',lead._id)" 
                                  onclick="showSwal('warning-message-and-cancel')"
                                  >Sold</a>
                                </div>
                              </div>
                              <div *ngIf="lead.status === 'Accepted'">
                                  <button type="button" class="btn bg-gradient-warning">
                                    Accepted Offer
                                  </button>
                              </div>
                              <div *ngIf="lead.status === 'Sold'">
                                  <button type="button" class="btn bg-gradient-warning">
                                    Accepted Offer
                                  </button>
                              </div>
                              <!-- <button type="button" class="btn bg-gradient-warning">
                                Accepted Offer
                              </button> -->
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    
    </div>
    
  

