<div class="container-fluid page-body-wrapper">
    <app-header></app-header>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 col-lg-3 grid-margin stretch-card">
              <div class="card bg-gradient-info text-white text-center card-shadow-info">
                <div class="card-body">
                  <h6 class="font-weight-normal">Total Number of Listing</h6>
                  <h2 class="mb-0">1000</h2>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 grid-margin stretch-card">
              <div class="card bg-gradient-danger text-white text-center card-shadow-danger">
                <div class="card-body">
                  <h6 class="font-weight-normal">Total Active Leads</h6>
                  <h2 class="mb-0">2250</h2>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 grid-margin stretch-card">
              <div class="card bg-gradient-warning text-white text-center card-shadow-warning">
                <div class="card-body">
                  <h6 class="font-weight-normal">Total Archived Leads</h6>
                  <h2 class="mb-0">2893</h2>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 grid-margin stretch-card">
              <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                <div class="card-body">
                  <h6 class="font-weight-normal">No. of People Accepted Offer</h6>
                  <h2 class="mb-0">1208</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    </div>
    <app-footer></app-footer>