
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body property_details">
                  <a href="#" class="card-title-link"> 
                      <div class="row">
                        <div class="col-md-1 col-lg-1 col-1">
                          <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="col-md-10 col-lg-10 col-10">
                          <h4 class="card-title">Equitable Property Group (Open House 1)</h4>
                        </div>
                      </div>
                   </a>
                    <figure class="mb-4">
                        <img class="view_listing_img" src="../../../assets/images/property.png"/>
                        <div class="caption-fig">
                            <div class="template-demo flex-nowrap">
                              <a href="#">
                              <button type="button" class="btn btn-rounded btn-icon">
                                <i class="fa fa-camera text-primary"></i>
                              </button>
                              </a>
                              <a href="#">
                              <button type="button" class="btn btn-rounded btn-icon">
                                <i class="fa fa-calendar text-primary"></i>
                              </button>
                              </a>
                              <a href="#">
                              <button type="button" class="btn btn-rounded btn-icon">
                                <i class="fa fa-link text-primary"></i>
                              </button>
                              </a>
                            </div>
                        </div>
                    </figure>
                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-6">
                        <h6 class="mb-6">$ 100</h6>
                        <h6 class="mb-6">Studio / 0 Baths</h6>
                      </div>
                      <div class="col-md-4 col-lg-4 col-6">
                        <h6 class="mb-6">Home</h6>
                        <h6 class="mb-6">100 sqft</h6>
                      </div>
                      <div class="col-md-4 col-lg-4 col-12">
                        <a href="#"><button type="button" class="send mb-3">Begin Open House</button></a>
                        <a href="#"><button type="button" class="share mb-4">Share</button></a>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <h6 class="mb-2">Describe the property</h6>
                          <p class="mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
              </div>
              
